@import '../../../assets/styles/colors.scss';

.scrollTop {
    display: none;
    position: fixed;
    background: $dark-gray-3;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    bottom: 5%;
    left: 90%;
    text-align: center;
    cursor: pointer;

    &.active {
        display: block;
    }

    &:hover {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
    }
}
