@import '../../../assets/styles/colors.scss';

.sidebar {
	flex: 20%;
	background-color: $dark-gray-1;
	padding: 20px;
}

.toc {
	padding: 0;
	user-select: none;
	-moz-user-select: none;

	&,
	ol {
		list-style-type: none;
	}

	ol {
		padding-inline: 2ch;
	}

	li {
		a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

			&.active {
                text-decoration: underline;
				font-weight: 900;
			}
		}
	}
}
