@use '../../../assets/abstracts/colors';

.header {
	display: block;
	flex: 0 1 auto;

	padding-top: 50px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: center;

	user-select: none;

	h1 {
		font-size: 2.8rem;
		font-weight: 900;
		color: colors.$orange;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		text-align: center;
		margin: 40px 0 20px;
		text-shadow: colors.$shadow;
	}
}
