@use '../../../assets/abstracts/colors';
@use '../../../assets/abstracts/mixins';

.player-board {
	@include mixins.container;
	width: 80%;
	max-width: 900px;
	padding: 1.5rem 2rem;
	margin: 0 auto;
	transition: border-color 0.2s ease, box-shadow 0.2s ease;

	&.targetable {
		border: 2px dashed colors.$orange;
		cursor: pointer;
	}

	&.active {
		border: 2px solid colors.$orange;
	}

	h2 {
		margin-bottom: 1rem;
		text-align: left;
	}

	.hand {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.incoming {
		margin-top: 1.5rem;

		h4 {
			color: colors.$orange;
			text-align: center;
			margin-bottom: 0.5rem;
		}
	}
}
