$dark-gray-1: #181818;
$dark-gray-2: #1f1f1f;
$dark-gray-3: #2d2d2d;
$dark-gray-4: #323232;
$font-light: #fff;
$font-gray: #808080;
$font-dark: #1e1e1e;
$orange: #ff6a00;
$brown: rgba(255, 106, 0, 0.2);
